PORT=8080
SPRING_PROFILES_ACTIVE=dev

# Database Configuration (Neon PostgreSQL Pooler)
JDBC_URL=jdbc:postgresql://ep-calm-frog-azbc5c9x-pooler.c-3.ap-southeast-1.aws.neon.tech:5432/music?sslmode=require
DB_HOST=ep-calm-frog-azbc5c9x-pooler.c-3.ap-southeast-1.aws.neon.tech
DB_PORT=5432
DB_NAME=music
DB_USERNAME=neondb_owner
DB_PASSWORD=npg_hxgZ3mXG4Czd

JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION_MS=86400000

ITUNES_API_BASE_URL=https://itunes.apple.com
OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4o-mini

ALLOWED_ORIGINS=http://localhost:5173,https://music-catalog.vercel.app
